
h1{
  text-align: center;
  }
  
  table, tr, th {
  border: 1px solid black;
  }
  
  table {
  border-collapse: collapse;
  margin: auto;
  width: 60%;
  background-color: #FFF;
  }
  
  th, td{
  padding: 8px;
  text-align: center;
  }

  .table-titulo {
    background-color: rgb(16, 145, 55);
    color: #FFF;
    font-size: 1.5em;
  }
  
  th{
  font-weight: bold;
  }


  .table-button {
    padding: 1em 2em;
    background-color: rgb(16, 145, 55);
    color: #FFF;
    border-radius: 15px;
    border: 2px solid #000;
    cursor: pointer;
    transition: all linear 190ms;
    font-weight: 600;
  }
  


.buy-button {
  padding: 1em 2em;
  background-color: rgb(16, 145, 55);
  color: #FFF;
  border-radius: 15px;
  border: 2px solid #000;
  cursor: pointer;
  transition: all linear 190ms;
  font-weight: 600;
  
}


/* .buy-button:hover {
  transform: scale(1.04);
  background-color: rgb(16, 145, 55);
  color: #FFF;
} */
