.carrinho {
  text-align: center;
}

.cabecalho_user {
  position: fixed;
  padding: 0 2.5em;

}

.back_button {
  width: 3em;
  padding: 0.5em 0.7em 0.5em 0.5em;
  background-color: #FCE09B;
  border: 1px solid #000;
  border-radius: 34px;
  margin-top: 1.8em;

}


h1{
  text-align: center;
  color: #F2CB05;
  }
  

table, tr, th {
  border: 1px solid black;
}
  
table {
  border-collapse: collapse;
  margin: auto;
  width: 60%;
  background-color: #FCE09B;
}
  
th, td{
  padding: 8px;
  text-align: center;
}

.table-titulo {
  background-color: #f3ac29;
  color: #000;
  font-size: 1.5em;
}
  
th{
  font-weight: bold;
}


.table-button {
  padding: 1em 2em;
  background-color: rgb(33, 121, 59);
  color: #FFF;
  border-radius: 15px;
  border: 2px solid #000;
  cursor: pointer;
  transition: all linear 190ms;
  font-weight: 600;
}
  


.buy-button {
  padding: 2em 5em;
  background-color: rgb(33, 121, 59);
  color: #FFF;
  border-radius: 15px;
  border: 2px solid #000;
  cursor: pointer;
  transition: all linear 190ms;
  font-weight: 600;
  margin: 2em;
  
}


/* .buy-button:hover {
  transform: scale(1.04);
  background-color: rgb(16, 145, 55);
  color: #FFF;
} */
