.cabecalho {
  display: flex;
  padding: 0 2.5em;
  gap: 2em;
}

.titulo_cabecalho {
  font-size: 3em;
  color: #F2CB05;
}

.img_link {
  width: 4em;
  padding: 0.5em 0.7em 0.5em 0.5em;
  background-color: #FCE09B;
  border: 1px solid #000;
  border-radius: 34px;
  margin-top: 1.8em;
}

.icones {
  padding: 0 0 0 82em;
}

.categoria-produto {
  color: #f3ac29;
  padding: 0  1.3em;
  /* #FCE09B */

}


.swiper {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 2em 0 5em 0;
}


.product-card {
  text-align: center;
  font-size: 18px;
  background: #FCE09B;
  border: 2px solid #333; 
  border-radius: 10px;
  padding: 5em;
  margin-bottom: 4em;
}  

h2 {
  margin-bottom: 10px;
  color: #000;
}

.price {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 500;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.add-button {
  background-color: #27ae60;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
