.cabecalho {
  display: flex;
  justify-content: space-between;
  padding:  1em 1.3em;
}

.titulo_link {
  font-size: 2em;
  color: #333;
}

.img_link {
  width: 3.5em;
  padding-top: 1.4em;
}




.swiper {
  width: 80%;
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin-top: 2em;
}




























.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}

.product-card {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: 2px solid #333; 
  border-radius: 10px;
  padding: 5em;
  margin-bottom: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

.price {
  font-size: 18px;
  color: #27ae60;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.add-button {
  background-color: #27ae60;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #5ab881;
} 